@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApplication29.Models.Radiobutton2Model

@using(Html.BeginForm("Index","Radiobutton2",FormMethod.Post))
{
    <h2>Bank Of Maharashtra</h2>
    <br />
    <b>Enter Account no:-</b>@Html.TextBoxFor(m=>m.actno,"",new{style="color:blue"})
    <br />
    <br />
    <b>Enter Amount:-</b>@Html.TextBoxFor(m=>m.amt,"",new{style="color:blue"})
    <br />
    <br />
    @Html.RadioButtonFor(m=>m.balance,"")<b>Balance |</b>    @Html.RadioButtonFor(m=>m.withdraw,"")<b>Withdraw |</b>
    <br />
    <br />
    <input type="submit" value="submit"/>

}
<hr />
<h4>Bank Passbook</h4>
<b>Balance is:-</b>@ViewBag.balance M<br />
@ViewBag.withdraw