@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 @model WebApplication31.Models.NameforModel
<h1>Html.NameFor Example</h1>
 
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <strong>@Html.NameFor(m => m.UserName)</strong> @Html.TextBoxFor(m => m.UserName)<br /><br />
    <strong>@Html.NameFor(m => m.Age)</strong> @Html.TextBoxFor(m => m.Age)<br /><br />
    <strong>@Html.NameFor(m => m.City)</strong> @Html.TextBoxFor(m => m.City)<br />
 
    <input id = "Submit" type = "submit" value = "submit" />
}

